[submodule "modules/repository"]
	path = modules/repository
	url = git://github.com/boxen/puppet-repository.git
[submodule "modules/git"]
	path = modules/git
	url = git://github.com/boxen/puppet-git.git
