[submodule "modules/repository"]
	path = modules/repository
	url = git://github.com/boxen/puppet-repository.git
[submodule "modules/git"]
	path = modules/git
	url = git://github.com/boxen/puppet-git.git
[submodule "modules/ruby"]
	path = modules/ruby
	url = git://github.com/boxen/puppet-ruby.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
